//$background-color: #def;
//$border-color: #a7d7f9;
$background-color: #ccc;
$border-color: #aaa;
$border-radius: 0.35em;
$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.125);

$desktop-breakpoint: 982; // by mw
$tablet-breakpoint: 600;
